@font-face {
  font-family: "LucidaSans";
  font-style: italic;
  src: url("../font/Lucida\ Sans\ Italic.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeWP";
  font-style: regular;
  src: url("../font/SegoeWP.ttf") format("truetype");
}
@font-face {
  font-family: "Asap";
  font-style: regular;
  src: url("../font/Asap-Regular.ttf") format("truetype");
}
.margin {
  margin: 0 10.77%;
}
.block_1 {
  background-image: url(../img/block_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 588px;
}
.clear_fix::after {
  clear: both;
}
header {
  padding-top: 28px;
  position: relative;
}
nav,
nav *,
.logoContainer {
  display: inline-block;
}
.headerNav {
  float: right;
  margin-top: 46px;
}
.navShadow1 {
  width: 471px;
  height: 43px;
  background-color: #f5c50645;
  position: absolute;
  top: 68px;
  right: 4px;
}
.navShadow2 {
  width: 471px;
  height: 43px;
  background-color: #f5c50645;
  position: absolute;
  top: 64px;
  right: 9px;
}
.headerNav li {
  background-color: #f5c506;
  background-repeat: no-repeat;
}
.headerNav li a {
  font-size: 19px;
  font-family: "SegoeWP", Helvetica, sans-serif;
  color: #9b7d08;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.headerNav li a:hover {
  text-decoration: underline;
  color: azure;
}
.headerNav ul li:nth-child(1){  
  background-image: url(../img/nav1.png);
  background-position: 40px center;
  background-size: 22px;
  padding: 10px 22px 13px 71px;
  letter-spacing: -0.5px;
  border-right: 1px solid #dcb105;
}
.headerNav ul li:nth-child(2){ 
  background-image: url(../img/nav2.png);
  background-position: 15px center;
  background-size: 20px;
  padding: 10px 19px 13px 43px;
  border-right: 1px solid #dcb105;
  letter-spacing: -0.5px;
}
.headerNav ul li:nth-child(3){ 
  background-image: url(../img/nav3.png);
  background-position: 18px center;
  background-size: 25px;
  padding: 10px 23px 13px 49px;
  letter-spacing: -0.5px;
}
.logo {
  display: inline-block;
  width: 87px;
  height: 87px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1.logoTheyalow {
  font-family: "LucidaSans", Helvetica, sans-serif;
  display: inline-block;
  font-size: 41px;
  color: #ffffff;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1.5px;
  vertical-align: top;
  margin-top: 29px;
}
.arrow {
  height: 60px;
  width: 33px;
  background-color: #bca32a;
  background-repeat: no-repeat;
  background-position: 8px 19px;
  background-size: 13px;
  position: absolute;
  top: 311px;
}
.arrow:hover{
  cursor: pointer;
  background-color: #f5c506;
}
div.arrow.left {
  background-image: url(../img/leftArrow.png);
  left: 0px;
}
div.arrow.right {
  background-image: url(../img/rightArrow.png);
  right: 0px;
}
.video {
  width: 569px;
  height: 341px;
  margin-left: 11px;
  margin-top: 55px;
}
.main {
  position: relative;
}
.yeallowLayer {
  width: 569px;
  height: 341px;
  background-color: #f5c506;
  opacity: 0.22;
  margin-left: 11px;
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 0px;
}
.theCool {
  display: inline-block;
  vertical-align: top;
  margin-top: 135px;
  margin-left: 40px;
}
.theCool h1 {
  font-size: 63.05px;
  font-family: 'Asap', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.26;
} 
h1.yellow {
  color: #f5c506;
}
h1.white {
  color: #ffffff;
}