@font-face {
  font-family: "LucidaSans";
  font-style: italic;
  src: url("../font/Lucida\ Sans\ Italic.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeWP";
  font-weight: normal;
  src: url("../font/SegoeWP.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: url("../font/Segoe\ UI\(Bold\).ttf") format("truetype");
}
@font-face {
  font-family: "SegoeWP";
  font-weight: 300;
  src: url("../font/segoe-wp-light.ttf") format("truetype");
}
@font-face {
  font-family: "Asap";
  font-weight: 400;
  src: url("../font/Asap-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../font/PTS55F.ttf") format("truetype");
}
.margin {
  margin: 0 10.77%;
}
.block_1 {
  background-image: url(../img/block_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 566px;
  -webkit-box-shadow: inset 0px -8px 10px -8px #000000; 
  -ms-box-shadow: inset 0px -8px 10px -8px #000000; 
  box-shadow: inset 0px -8px 10px -8px #000000;
}
.clear_fix::after {
  clear: both;
}
header {
  padding-top: 28px;
  position: relative;
}
nav,
nav *,
.logoContainer {
  display: inline-block;
}
.headerNav {
  float: right;
  position: relative;
  margin-top: 44px;
  z-index: 3;
  box-shadow: -4px -5px 0px 0px #f5c50645, -8px -8px 0px 0px #f5c50645;
  -webkit-box-shadow: -4px -5px 0px 0px #f5c50645, -8px -8px 0px 0px #f5c50645;
  -ms-box-shadow: -4px -5px 0px 0px #f5c50645, -8px -8px 0px 0px #f5c50645;
}
.headerNav li {
  background-color: #f5c506;
  background-repeat: no-repeat;
}
.headerNav li a {
  font-size: 17px;
  font-family: "SegoeWP", Helvetica, sans-serif;
  font-weight: 600;
  color: #9b7d08;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.headerNav li a:hover {
  text-decoration: underline;
  color: azure;
}
.headerNav ul li:nth-child(1){  
  /* background-image: url(../img/nav1.png);
  background-position: 39px center;
  background-size: 21px;
  padding: 11px 23px 11px 70px;
  letter-spacing: 0.3px;
  border-right: 1px solid #dcb105; */
  background-image: url(../img/nav1.png);
  background-position: 39px 10px;
  background-size: 21px;
  padding: 11px 20px 11px 70px;
  letter-spacing: 0.4px;
  border-right: 1px solid #dcb105;
}
.headerNav ul li:nth-child(2){ 
  /* background-image: url(../img/nav2.png);
  background-position: 13px center;
  background-size: 20px;
  padding: 11px 17px 11px 41px;
  border-right: 1px solid #dcb105;
  letter-spacing: 0.7px; */
  background-image: url(../img/nav2.png);
  background-position: 13px center;
  background-size: 20px;
  padding: 11px 18px 11px 41px;
  border-right: 1px solid #dcb105;
  letter-spacing: 0.2px;
}
.headerNav ul li:nth-child(3){ 
  /* background-image: url(../img/nav3.png);
  background-position: 17px 10px;
  background-size: 24px;
  padding: 11px 22px 11px 48px;
  letter-spacing: 0.8px; */
  background-image: url(../img/nav3.png);
  background-position: 17px 10px;
  background-size: 24px;
  padding: 11px 21px 11px 48px;
  letter-spacing: 0.4px;
}
.logo {
  display: inline-block;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo.header {
  width: 83px;
  height: 83px;
}
h1.logoTheyalow {
  color: #ffffff;
  display: inline-block;
  font-family: "LucidaSans", Helvetica, sans-serif;
  font-size: 41.05px;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.3px;
  vertical-align: top;
  margin-top: 27px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}
.arrow {
  height: 57px;
  width: 32px;
  background-color: #bca32a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  position: absolute;
  top: 300px;
}
.arrow:hover{
  cursor: pointer;
  background-color: #f5c506;
}
div.arrow.left {
  background-image: url(../img/leftArrow.png);
  left: 0px;
}
div.arrow.right {
  background-image: url(../img/rightArrow.png);
  right: 0px;
}
.video {
  width: 549px;
  height: 327px;
  margin-left: 10px;
  margin-top: 55px;
}
.main {
  position: relative;
}
.yeallowLayer {
  width: 53.6544%;
  height: 85%;
  background-color: rgba(245, 197, 6, 0.11);
  margin-left: 11px;
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 0px;
}
.theCool  {
  float: right;
  margin-top: 129px;
  font-size: 63.05px;
  font-family: 'Asap', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
} 
p.yellow {
  color: #f5c506;
  letter-spacing: 0.9px;
  margin-right: 32px;
}
p.white {
  color: #ffffff;
  letter-spacing: 0.7px;
  margin-right: 18px;
}
.block2 {
  height: 212px;
  background-image: url("../img/layer1.jpg");
  background-repeat: repeat;
}
.iconArea {
  display: flex;
  height: 100%;
}
.iconArea > div {
  width: 33.33%;
  height: 100%;
  text-align: center;
  border-left: 1px solid #d3d3d3;
}
.iconArea >div:nth-child(3){
  border-right: 1px solid #d3d3d3;
}
div.designIcon {
  background: url(../img/Shape\ 2.svg) no-repeat;
  background-position: center;
  height: 74px;
  margin-top: 61px;
  margin-right: 5px;
}
div.customiseIcon {
  background: url(../img/Shape\ 3.svg) no-repeat;
  background-position: center;
  height: 95px;
  margin-top: 37px;
  margin-left: 7%;
}
div.itsFreeIcon {
  background: url(../img/Shape\ 4.svg) no-repeat;
  background-position: center;
  height: 83px;
  margin-top: 55px;
  margin-left: -6%;
}
.iconArea p {
  font-family: "SegoeWP", Helvetica, sans-serif;
  font-size: 27px;
  text-transform: uppercase;
}
.design p {
  margin-top: 14px;
  margin-left: 5%;
}
.customise p {
  margin-top: 18px;
  margin-left: 6%;
  /* letter-spacing: -0.8px; */
}
.itsFree p {
  margin-top: 12px;
  margin-left: -5%;
}
.block3 {
  height: 508px;
  -webkit-box-shadow: inset 0px 7px 10px -10px #000000;
  -ms-box-shadow: inset 0px 7px 10px -10px #000000; 
  box-shadow: inset 0px 7px 10px -10px #000000;
  background-image: url(../img/bgblock3.jpg);
  background-repeat: repeat;
  background-size: 53px 42px;
}
.textAndVideoLayer {
  position: relative;
  width: 655px;
  height: 233px;
  display: flex;
}
h2.loremIpsum {
  color: #fff;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 37px;
  padding-top: 37px;
  padding-bottom: 36px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}
p.blockthree {
  color: #fff;
  font-family: "SegoeWP", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 29px;
  line-height: 1.32;
  text-align: left;
  margin-top: 16px;
  margin-left: 29px;
  letter-spacing: 0.3px;
}
.loremLayer {
  background-color: #EC9E03;
  position: relative;
}
.playbutton {
  position: absolute;
  top: 93px;
  left: 470px;
  width: 61px;
  height: 61px;
  background-color: rgba(245, 197, 6, 0.72);
  background-image: url(../img/indicator.png);
  background-repeat: no-repeat;
  background-position: 25px;
  background-size: 17px;
  border-radius: 100%;
}
.playbutton:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
div.plus {
  background: url(../img/plus.svg) no-repeat;
  background-position: center;
  height: 12px;
  width: 12px;
  position: absolute;
}
.textAndVideoLayer div.plus{
  bottom: 13px;
  right: 14px;
}
div.plus:hover {
  cursor: pointer;
}
.twitterLayer div.plus {
  bottom: 13px;
  right: 11px;
}
.twitterLayer {
  background-color: #EC9E03;
  width: 331px;
  position: relative;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
p.notific {
  color:#fff;
  font-family: "SegoeWP", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 20px;
}
div.twitter {
  background: url(../img/twitter.svg) no-repeat;
  background-position: center;
  height: 134px;
  width: 164px;
  margin-top: 59px;
  margin-left: 83px;
}
.calendar {
  width: 113px;
  height: 86px;
  background-color: #ddb101;
  text-align: center;
  margin-bottom: 43px;
}
p.date {
  color: #fff;
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: 51px;
  line-height: 1.23;
  padding-left: 3px;
}
p.month {
  font-size: 21px;
  font-family: "SegoeWP", Helvetica, sans-serif;
  color: #b26529;
  line-height: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding-left: 4px;
}
input.range {
  width: 897px;
  height: 16px;
}
input[type=range].custom {
  -webkit-appearance: none;
  width: 897px;
  margin: 0px 71px;
  background-color: rgba(255,255,255,0.48);
}
input[type=range].custom:focus {
  outline: none;
}
input[type=range].custom::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 13.1px;
  border: 0px solid #010100;
}
input[type=range].custom::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 196px;
  border-radius: 10px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].custom:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.47);
}
input[type=range].custom::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 13.1px;
  border: 0px solid #010100;
}
input[type=range].custom::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 198px;
  border-radius: 10px;
  background: #ec9e03;
  cursor: pointer;
}
input[type=range].custom::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].custom::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.47);
  border: 0px solid #010100;
  border-radius: 26.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].custom::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.47);
  border: 0px solid #010100;
  border-radius: 26.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].custom::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  width: 198px;
  border-radius: 10px;
  background: #ec9e03;
  cursor: pointer;
  height: 16px;
}
input[type=range].custom:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.47);
}
input[type=range].custom:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.47);
}
.block4 {
  height: 499px;
  background-image: url(../img/grayLayer.png);
  background-repeat: repeat;
  background-size: 80px 80px;
  -webkit-box-shadow: inset 0px -20px 5px -18px #000000; 
  box-shadow: inset 0px -20px 5px -18px #000000;
}
.block5 {
  height: 64px;
  background-color: #4C4C4C;
}
.logo.footer {
  width: 52px;
  height: 52px;
}
.footerLogoWraper {
  display: flex;
  align-items: center;
}
div.logo.footer {
  margin-top: 5px;
  margin-left: 1px;
}
p.theyalowFooter {
  color: #fff;
  font-family: "LucidaSans", Helvetica, sans-serif;
  font-size: 29px;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
  margin-top: 7px;
  margin-left: 8px;
}
h2.loremIpsum.yellow {
  color: #f5c506;
  font-size: 43px;
  padding-top: 42px;
  padding-left: 210px;
  letter-spacing: 0.5px;
}
.device-and-list-wraper {
  display: inline-block;
}
.devices-container div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.devices-container div.desktop {
  position: relative;
  width: 323px;
  height: 255px;
  background-image: url(../img/computer.png);
}
.devices-container div.sale{
  width: 116px;
  height: 116px;
  background-color: #f5c506;
  border-radius: 100%;
  position: absolute;
  top: -43px;
  left: -20px;
}
.devices-container div.tablet {
  width: 129px;
  height: 173px;
  background-image: url(../img/tablet.png);
  margin-left: 24px;
  margin-top: 1px;
}
.devices-container div.mobile {
  width: 39px;
  height: 63px;
  background-image: url(../img/mobile.png);
  margin-left: 25px;
  margin-top: 111px;
}
.devices-container {
  display: flex;
  margin-top: 16px;
  margin-left: 19px;
  align-items: center;
}
.sale p {
  font-size: 17px;
  font-family: "PT Sans", Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 52px;
  margin-left: 5px;
  letter-spacing: -0.7px;
}
.undeOmnis li{
  display: inline-block;
  font-size: 22px;
  font-family: "Open Sans";
  color: #a9a9a7;
  line-height: 1.2;
  position: relative;
  padding-left: 35px;
  margin-bottom: 23px;
}
.undeOmnis li:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 14px;
  height: 14px;
  background-color: #f5c506;
  border-radius: 100%;
}
div.unordered-list {
  display: inline-block;
  width: 37.3%;
  padding-left: 79px;
}
.undeOmnis li:nth-child(2) {
  margin-bottom: 14px;
}
.undeOmnis li:nth-child(3) {
  margin-bottom: 32px;
}
.undeOmnis li:nth-child(4) {
  position: relative;
  top: -7px;
}
ul.undeOmnis {
  position: relative;
  top: 10px;
}